@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap'); /*Fonte do Logo*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*Fonte Login Page, certos elementos*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.row{ display: table; width:100%;}
.col{ display: table-cell; vertical-align: top;}
.col-1{ width: 8.33%;}
.col-2{ width: 16.66%;}
.col-3{ width: 25%;}
.col-4{ width: 33.33%;}
.col-5{ width: 41.66%;}
.col-6{ width: 50%;}
.col-7{ width: 58.33%;}
.col-8{ width: 66.66%;}
.col-9{ width: 75%;}
.col-10{ width:83.33%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%;}

:root{
	--cor1: rgb(0,0,0);
	--cor2: rgb(255,255,255);
	--cor3: rgb(196, 17, 35); /*Background Color*/
	--cor4: rgb(130,192,203);
	--cor5: rgb(234,185,106);
	--cor6: rgb(23,104,123);
}
body{
	margin: 0;
	padding: 0;
	background-color: var(--cor2);
}

h1 h2 h3 h4{
  font-family: 'DM Serif Display', serif;
}

a{
    text-decoration: none;
	color: #fff;
    
}

/*----------------------
Header
--------------------------*/

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 2px 15px rgba(204, 25, 25, 0.1);
}

.branding{
	display: flex;
	align-items: center;
  margin-left: 5%;
}

.logo{
	margin: 0 auto;
	height: 70px;
}

.pizza, .place{
	font-family: 'Chewy', cursive;
	font-size: 50px;
}

.pizza{
	color: var(--cor1);
}

.place{
	color: #830B17;
}
.menu{
  margin-right: 5%;
}

.menu ul{
	display: flex;
	list-style: none;
  font-family: 'Poppins', sans-serif;
  margin-right: 5%;
}

.menu li{
	margin-left: 20px;
  margin-right: 6px;
	
}

.menu li:nth-last-child{
	margin-left: 0%;
}

.menu a{
	color: black;
	font-size: 20px;
}

.menu a:hover{
	color: #830B17;
}

.menu i{
  margin-right: 6px;
}
/*----------------------
Promoção
--------------------------*/

.promocao{
	background-image: url('./img/Promocao.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 10% 0%;
	text-align: left;
	font-size: 1.5rem;
	color: var(--cor2);
    padding: 10%;
}
.promocao h1{
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    margin: 0%;
}
.promocao button{
    font-family: "DM Serif Display", serif;
    background: var(--cor3);
    color: var(--cor2);
    border-radius: 15px;
    padding: 10px 40px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 20px;
    display: inline-block;
    margin-top: 2%;
}

/*----------------------
Região de fidelização
--------------------------*/
.sec_3{
	background-image: url(/img/banner_pizza.png);
	background-size: cover;
	margin: 5% 7% 0 7%;

}
.phrase{
	color: #db3737;
	margin-left: 5%;
	padding: 5% 5% 5% 10%;
}

.invite{
	font-size: 5rem;
	color: #fff;
	font-family: "Macondo", cursive ;
}
.form{
	text-align: center;
	padding: 10% 0 0 0;
}

.form p{
	margin:0;
}


.email{
	margin: 2% 0 0 0;
	padding: 3% 20% 3% 5%;
	border-radius: 5px;
	border-width: thin;
}

.email::placeholder{
	font-size: large;
}

.nome{
	margin: 5% 0 0% 0;
	padding: 3% 20% 3% 5%;
	border-radius: 5px;
	border-width: thin;
}

.nome::placeholder{
	font-size: large;
}

#subs{
	margin-top: 3%;
	padding: 3% 15%;
	background: transparent;
	border: 1px solid #fff;
	font-size: large;
	color: #fff;
	cursor: pointer;
	border-radius: 30px;
}

#subs:hover{
	background-color: #ffde59;
	color: black;
	border-color: #ffde59;
	border-radius: 30px;
}

/*----------------------
Nossas lojas
--------------------------*/
.places {
    font-family: "DM Serif Display", serif;
    font-size: 3rem;
}

.places h1{
    margin: 5% 0 2% 0;
    text-align: center;
}
  
  .lojas {
    max-width: 1044px;
    margin: 0 auto;
  }
  
  .carousel {
    display: block;
    text-align: center;
    position: relative;
    margin-bottom: 22px;
  }
  
  .carousel input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
  
  .carousel input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -500%;
  }
  
  .carousel input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -400%;
  }
  
  .carousel input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -300%;
  }
  
  .carousel input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -200%;
  }
  
  .carousel input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -100%;
  }
  
  .carousel input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: 0%;
  }
  
  .carousel input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1),
  .carousel input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2),
  .carousel input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3),
  .carousel input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4),
  .carousel input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5),
  .carousel input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
  }
  
  .carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
  }
  
  .carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    box-sizing: border-box;
    white-space: normal;
  }
  
  .carousel__slide figure {
    display: flex;
    margin: 0;
  }
  
  .carousel__slide div {
    position: relative;
    width: 60%;
  }
  
  .carousel__slide div:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.67%; /* aspect ratio 3:2 */
  }
  
  .carousel__slide img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  
  .carousel__slide figcaption {
    align-self: flex-end;
    padding: 0px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
    margin: auto
  }
  
  .carousel__slide .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
  }
  
  .carousel__slide h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .carousel__thumbnails ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: #960715;
    margin: 0 0 2% -1%;
  }
  
  .carousel__slides + .carousel__thumbnails {
    margin-top: 20px;
  }
  
  .carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 auto;
    transition: all 300ms ease-in-out;
  }
  
  .carousel__thumbnails label {
    position: relative;
    display: block;
  }

  .carousel__thumbnails label:before {
    display: block;
    content: none;
    width: 100%;
    padding-top: 100%; /* aspect ratio 1:1 */
  }
  
  .carousel__thumbnails label:hover img,
  .carousel__thumbnails label:focus img {
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
  }
  
  .carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/*----------------------
Footer
--------------------------*/
.footer{
	background-color: #db3737	;
	margin-top: 5%;
	padding: 1% 0;
	justify-content: center;
}
.ficons{
	text-align: left;
	padding: 1.5% 0 0 0;
}

.ficons a:hover{
	color: #ffde59;
}

.ftext{
	padding: 0 0 0 5%;
	color: #fff;
}

.footer ul li{
	display: inline;	
	margin-left: 10%;
	padding: 0%;
}

.navF{
	display: flex;
	
}
.navF a{
	margin: 0 2%;
}

.navF a:hover{
	color: #ffde59;
}
.navF p{
	margin: 0%;
}

/*----------------------
Login Page
--------------------------*/
.login-page{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.login-page{
  background-image: url(img/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  
  
}

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 440px;
  height: 480px;
  padding: 30px;
  margin: 0 auto
}

.login-header{
  text-align: center;
  margin: 20px 0 40px 0;
}

.login-header header{
  color: var(--cor1);
  font-size: 40px;
  font-weight: 600;
}

.input .input-field{
  width: 100%;
  height: 60px;
  font-size: 17px;
  padding: 0 0 0 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  transition: 0.3s;
}

::placeholder{
  font-weight: 500;
  color: #222;
}

.input-field:focus{
  width: 105%;
}

.esquecer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.esquecer a:hover{
  text-decoration:underline ;
}

.login section{
  align-items: center;
  font-size: 14px;
  color: var(--cor1);
  font-weight: 500;
}

.login section a{
  color: var(--cor1);
}
#check{
  margin-right: 10px;
}

.input-submit{
  position: relative;
}

.submit-btn{
  width: 100%;
  height: 60px;
  background: rgba(219,55,55,0.5);
  border: 2px solid rgba(219,55,55,0.8);
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}

.submit-btn:hover{
  width: 100%;
  height: 60px;
  background: rgb(219,55,55);
  border: 2px solid rgb(219,55,55);
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}

.input-submit label{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

/*----------------------
Special Page (Promoção)
--------------------------*/

.promocao2{
	background-image: url('./img/promocao2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-size: 1.1rem;
	color: var(--cor2);
	padding: 20%;
	position: relative;
}
.promocao2 h1{
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    margin: 0%;
}
.promocao2 h2{
	font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin: 0%;
}
.promocao2 h3{
	margin: 0%;
}

.promocao2 button{
    font-family: "DM Serif Display", serif;
    background: var(--cor3);
    color: var(--cor2);
    border-radius: 15px;
    padding: 10px 40px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 20px;
    display: inline-block;
    margin-top: 2%;
}
.item-1{
	position: absolute;
    top: 35%;
    left: 31%;
    padding: 1% 3%;
    text-align: center;
	background-color: rgba(0, 0, 0, 0.648);
}
.item-2{
	position: absolute;
    top: 45%;
    left: 3%;
}
.item-3{
	position: absolute;
	top: 10%;
	left: 30%;
}
.item-4{
	position: absolute;
	top: 28%;
    right: 1%;
}

/*----------------------
Location Page
--------------------------*/

.maps{
	font-family: "DM Serif Display", serif;
	background-color: #f8f8f8;
	.row{
		margin-top: 3%;
	}
}
.map_nome{
	font-size: 1.5rem;
	text-align: center;
}
.map_text{
	margin: 0 20% 0 25%;
	padding-right: 15%;
	border-right: #e7e7e7 solid;
	h1{
		font-size: 2.5rem;
		margin: 0;
	}
	h3{
		font-size: 1.3rem;
		margin: 0;
	}
}

/*----------------------
Página de Produtos
--------------------------*/

.products{
  margin: 5% 10%;
}

.products h1{
  text-align: center;
  color: #db3737;
  font-size: 50px;
  margin-bottom: 5%;
}

.products .row{
  display: flex;
  margin-top: 2%;
}

.product-wrap{
  padding: 0 30px;
  margin: 0 auto;
  cursor: pointer;
}

.product-wrap .product_img{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_img img{
  width: 100%;
}

.product-wrap .product_content{
  margin-top: 30px;
  text-align: center;
}

.product-wrap .product_content h4{
  font-size: 25px;
  font-weight: 500;
  color: #F58351;
}

.product-wrap .product_content .product_price{
  font-size: 30px;
  font-weight: 900;
  color: #db3737;
  line-height: 26px;
  letter-spacing: 1px;
  margin: 10px 0 15px 0;
}

.product-wrap .product_content .product_btn{
  display: inline-block;
  font-size: 14px;
  text-align: center;
  padding: 12px 15px;
  color: var(--cor1);
  border-radius: 0;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: #db3737;
  transition: 0.3s ease;
  margin-bottom: 10%;
}

.product-wrap:hover{
  border: 2px #db3737 solid;
  border-radius: 10px;
}

.product-wrap:hover .product_content .product_btn{
  opacity: 1;
}
