@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Fredericka+the+Great&display=swap');

.row{ display: table; width:100%; }
.col{ display: table-cell; vertical-align: top;}
.col-1{ width: 8.33%; }
.col-2{ width: 16.66%;}
.col-3{ width: 25%; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width:83.33%;  }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }

:root{
	--cor1: rgb(0,0,0);
	--cor2: rgb(255,255,255);
	--cor3: rgb(196, 17, 35); /*Background Color*/
	--cor4: rgb(130,192,203);
	--cor5: rgb(234,185,106);
	--cor6: rgb(23,104,123);
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Castoro', serif;
	background-color: var(--cor2);
}
a{
    text-decoration: none;
    
}

/*----------------------Header--------------------------*/

header .container{
    display: flex;
}

.Logotipo{
    width: 50%;
}

.Menu{
    display: grid;
    align-content: center;
    width: 50%;
    text-align: right;
    font-size: 1.3rem;
}

.Menu ul li{
    display: inline;
    margin-right: 5%;
}
.Menu ul li :last-child{
    margin-right: 0%;
}

.Menu a {
    color: black;
}

/*----------------------Promoção--------------------------*/

.promocao{
	background-image: url('./img/Promocao.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 10% 0%;
	text-align: left;
	font-size: 1.5rem;
	color: var(--cor2);
    padding: 10%;
}
.promocao h1, h2{
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    margin: 0%;
}
.promocao button{
    font-family: "DM Serif Display", serif;
    background: var(--cor3);
    color: var(--cor2);
    border-radius: 15px;
    padding: 10px 40px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 20px;
    display: inline-block;
    margin-top: 2%;
}
/*----------------------Mais Vendidos--------------------------*/
.sec_2{
	margin: 0 5% 0 5%;
}
.sec_2 .container{
	display: flex;
	justify-content: center;
}

.sec_2 img{
	border-radius: 1rem	;
	width: 90%; 
	height: 100%;
}

.product_img{
	text-align: center;
	border-width: thin;
	border-radius: 1rem;
	margin: 5% 0 0 0;
}

.product{
	cursor: pointer;
	text-align: center;
	border-radius: 1rem;
	margin: 0 2%;
	border:1px solid #CCCCCC;
	width: 22%;
	background-color: #fff;
	padding-bottom: 2%;	
}

.product:hover{

	border: 3px solid #CCCCCC;
}

.order span{
	text-align: center;
}


.product_info{
	background-color: var(--cor3);
	border: 1px solid  #CCCCCC;
	border-radius: 30px;
	padding: 1%;
	margin: 0 5%;
	font-size: 1.2rem;
	color: #fff;
}

.order{
	padding: 5%;
}

.product_info:hover{
	background-color: #830B17;
}

.sec_2 h1{
	text-align: center;
	padding: 3% 0 0 0;
	font-size: 2.5rem;
	
}
.sec_2 h3{
	font-size: 1.7rem;
}

.sec_2 h4{
	font-size: 1.5rem;
	margin: 0 0 5% 0;
}

/*----------------------Região de fidelização--------------------------*/
.sec_3{
	background-color: var(--cor3);
	margin: 5% 7% 0 7%;

}
.phrase{
	color: #fff;
	margin-left: 5%;
	padding: 5% 5% 5% 5%;
}

.invite{
	font-size: 3rem;
	padding-top: 7%;
	color: #fff;
}
