@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

.row{ display: table; width:100%; }
.col{ display: table-cell; vertical-align: top;}
.col-1{ width: 8.33%; }
.col-2{ width: 16.66%;}
.col-3{ width: 25%; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width:83.33%;  }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }

:root{
	--cor1: rgb(0,0,0);
	--cor2: rgb(255,255,255);
	--cor3: rgb(51,51,51);
	--cor4: rgb(130,192,203);
	--cor5: rgb(234,185,106);
	--cor6: rgb(23,104,123);
}
body{
	margin: 0;
	font-family: 'Castoro', serif;
	background-color: var(--cor2);
}

/*----------------------Header--------------------------*/
.contaianer{
    display: flex;
}
.header{
    display: inline-block;
}



/*----------------------Promoção--------------------------*/
.promocao{
	background-image: url('./img/Promocao.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 10% 0%;
	text-align: center;
	font-size: 1.5rem;
	color: var(--cor2);
}